.vscode/settings.json
css/litCore.min.css
css/navigation.min.css
.vscode/launch.json
.idea/litCore.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
